.Menu {
  @apply w-full h-full min-w-full min-h-screen;
  @apply flex items-center justify-center;
  .menu-content {
    @apply flex flex-col gap-6 w-full max-w-sm p-4;
    .room-form {
      @apply w-full;
      .room-name-field {
        @apply flex flex-col gap-4;
      }
    }
    .menu-button {
      @apply w-full;
    }
    .host-btn {
      @apply text-white bg-blue-600 hover:bg-blue-700;
    }
  }
}